<div class="container">
    <div class="row mt-10">
        <div class="col s12">
            <h3>Instance {{name}}</h3>
            <form action="/edit_instance.php" method="post">
                <input type="hidden" name="id" value="{{id}}">
                <div class="input-field">
                    <input id="name" type="text" name="name" placeholder="Name" value="{{name}}">
                    <label for="name">Name</label>
                </div>
                <div class="input-field">
                    <input id="shortname" type="text" name="shortname" placeholder="Short name" value="{{shortname}}">
                    <label for="description">Description</label>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Save
                    <i class="material-icons right">send</i>
                </button>
                <a href="view.php" title="Cancel" class="waves-effect waves-light btn">Cancel</a>
            </form>
        </div>
    </div>
</div>