{{#display_instance_name}}
    <div class="row">
        <div class="col-sm-12">
             <h2>{{name}}</h2>
         </div>
      </div>
 {{/display_instance_name}}
 {{^display_instance_name}}

 {{/display_instance_name}}

