{{#platform_table_data}}


        <tr>
           <th scope="row">{{name}}</th>
           {{#platforms_data}}
              <td class="platform platform-{{platformid}}" data-label="{{name}}" style="display: none;">
                <p>{{value}}</p>
              </td>
           {{/platforms_data}}
         </tr>




 {{/platform_table_data}}