        {{#platforms}}
        <div class='service-panel' >
            <label>
            <input type='checkbox' class='cardcheckbox' {{checked}}/>
            <div class='control-indicator'></div>
            <h4 class='service-title'>{{name}}</h4>
            <p>{{description}}</p>
            </label>
        </div>
        {{/platforms}}