{{#platform_table_data}}

             <tr>
             <th class="platform platform-{{platformid}}" scope="col">{{name}}</th>

             {{#data}}
                  <td class="platform platform-{{platformid}}" data-label="{{name}}">
                       <p style="display: inline-block;">{{value}}</p>
                   </td>
             {{/data}}

             </tr>


 {{/platform_table_data}}