{{#platform_table_data}}
    <tr class="tr-platform-{{platformid}}" style="display: none;">
        <th class="platform platform-{{platformid}}" scope="col">{{name}}</th>
        {{#data}}
            <td class="platform platform-{{platformid}} yufinder-platform-data-cell" data-label="{{name}}">
                {{value}}
            </td>
        {{/data}}
    </tr>
{{/platform_table_data}}