{{#platform_table_filter_buttons}}
    <div class="row mb-2">
        <div class="col d-flex  align-items-center justify-content-center">
            {{#buttons}}
                <button
                        id="btn-yufinder-comparison-checkbox-{{platformid}}"
                        class="btn btn-secondary btn-sm comparison-checkbox h-100 mr-2"
                        style="display: none;"
                        data-platform_id="{{platformid}}"
                >
                    {{name}}
                </button>
            {{/buttons}}
        </div>
    </div>
{{/platform_table_filter_buttons}}