        "{{#services}}\
        <div class='service-panel' id='service-{{id}}' service='{{id}}'>\
            <label>\
            <input type='checkbox' class='cardcheckbox' {{checked}}/> \
            <div class='control-indicator'></div>\
            <h4 class='service-title'>{{title}}</h4>\
            <p>{{summary}}</p>\
            </label>\
        </div>\
        {{/services}}"