{{#platform_table_desc}}




              <td class="platform platform-{{id}}" data-label="Description" style="display: none;">
                <p>{{description}}</p>
              </td>






 {{/platform_table_desc}}