{{#platform_table_data}}

    <label class="btn-checkbox" id="platform-{{platformid}}-btn">
        <input type="checkbox" onclick="toggleColumn('platform-{{platformid}}')" checked>
        <span class="btn-checkbox-label">{{name}}</span>
        <span class="checkmark"></span>
    </label>

{{/platform_table_data}}