<label for="filter_options"> On windows and linux: hold ctrl and click each applicable option.
<br> On mac, hold shift+command and click on each applicable option <br>Select all that apply </label>
<br>
<select id="filter_options" name="filter_options[]" multiple style="width: 80%; min-height: 200px;">
    {{#filter-options}}
        <optgroup label="{{optiongroup}}">
            {{#options}}
                <option value="{{value}}" {{selected}}>{{text}}</option>
            {{/options}}
    </optgroup>
    {{/filter-options}}
</select>