<div>
    {{name}}
    <div class="row-actions">
        {{#actions}}
            <span class="{{action}}">
                <a href="{{url}}" class="row-action" title="{{title}}">{{label}}</a>
            </span>
            {{separator}}
        {{/actions}}
    </div>
</div>