<div class="container-fluid mt-0">
    <div class="row">
        <div class="col">
            <h2>{{name}}</h2>
        </div>
        <div class="row">
            <!--        Filters-->
            <div class="col-md-3 col-sm-12">
                <div class="yufinder_filters_container">

                    <div class="alert alert-info">
                        Answer these questions to help identify data storage services that are
                        suitable for your needs. Checking these boxes will change the list of
                        available services.
                        If you are uncertain how to answer, leave the question blank to maximize
                        your resulting options.
                    </div>
                    <button id="btn-yufinder-reset-filters" class="btn btn-primary btn-sm mb-1">Reset filters</button>
                    {{> instance-filters}}

                </div>
            </div>
            <!--        Platforms-->
            <div class="col-md-9 col-sm-12">
                <h3>Describe your data</h3>
                <div class="row">
                    <div class="col">
                        <div>
                            <span> Select data storage services you would like to compare.</span>
                        </div>
                        <div class="float-right">
                            <button id="btn-yufinder-select-all" class="btn btn-primary btn-sm yf_button_selectall">Select all</button>
                            <button id="btn-yufinder-reset-plaforms" class="btn btn-primary btn-sm">Reset all</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="yufinder_platforms_cells">
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    {{#platforms}}
                                        {{> instance-platforms}}
                                    {{/platforms}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="yufinder-table-container" class="row" style="display: none;">
        <div class="col">
            <div class="yufinder_datafields_container">
                <div class="step3-button-container">
                    <h3 class="sub-heading">Step 3: Compare providers: Explore the details of the providers you have
                        chosen</h3>
                    <button id="btn-yufinder-comparison-select-all" class="btn btn-outline-primary btn-sm">Select All</button>
                    <button id="btn-yufinder-comparisonclear-all" class="btn btn-outline-primary btn-sm">Clear All</button>
                </div>
                <div class="">
                    {{> instance-platform-table-compare-checklist}}

                </div>
                <div id="yufinder-comparison-table-container" class="table-responsive" style="display: none;">
                    <table class="table table-sm table-striped table-bordered" id="comparisonchart">
                        <tr>
                            <td>&nbsp;</td>
                            {{> instance-platform-table-column-label}}
                        </tr>
                        {{> instance-platform-table-column-data}}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>








































































































