

<div class="yufinder_container">
<table id= "yu-finder-test-id">
  <tr>
    <td>{{> instance-filters}}</td>

    <td>
    <div class="yufinder_platforms_container">

        {{#platforms}}
        <div class='yufinder_platform_cell'>
            {{> instance-platforms}}
        </div>
        {{/platforms}}
    </div>

    </td>
  </tr>
  <tr>
    <td colspan="2">datafields</td>
  </tr>
</table>
</div>



